@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'variables';

.icon {
	display: inline-block;
	height: 48px;
	vertical-align: middle;
	width: 48px;

	a {
		background-color: $accent-4;
		border: 0;
		border-radius: 50%;
		display: block;
		height: 100%;
		position: relative;
		transition: all 200ms ease-in;
	}

	svg {
		fill: $neutral-1;
		height: 32px;
		left: 50%;
		margin: -16px 0 0 -16px;
		position: absolute;
		top: 50%;
		width: 32px;
		transition: all 300ms ease-in;
	}

	+ .icon {
		margin-left: 10px;
	}
}

@media only screen and (min-width: $breakpoint-1) {
	.icon {
		height: 100px;
		width: 100px;

		svg {
			height: 64px;
			margin: -32px 0 0 -32px;
			width: 64px;
		}

		+ .icon {
			margin-left: 20px;
		}
	}
}
