.container {
	margin: auto;
	max-width: 1120px;
	text-align: center;
}

.row-style2 {
	@include clearfix;
	background-color: $accent-2;
	border-top-left-radius: 80px;
	border-bottom-right-radius: 80px;

	section {
		background-color: $accent-2;
		border-top-left-radius: 80px;
		border-bottom-right-radius: 80px;
		padding: 50px 20px;
		transition: background 300ms ease-in;

		&:nth-child(even) {
			background-color: $accent-6;
		}

		@media (min-width: $breakpoint-1) {
			padding: 50px;

			&:nth-child(even) {
				background-color: inherit;
			}

			&:hover {
				background-color: $accent-6;
			}
		}
	}
}

.more-content {
	color: $neutral-3;
	max-height: 600px;
	opacity: 1;
	overflow: hidden;
	transition: all 300ms ease-in;
}

.content {
	margin: auto;
	max-width: 600px;
	text-align: left;
}

.pull-out {
	@media (min-width: $breakpoint-2) {
		margin: 0 -120px;
	}
}
