.container {
	overflow: hidden;
}

.content-wrapper {
	padding: 40px 20px;
	position: relative;
}

.row-style2 {
	@include clearfix;

	section {
		margin-bottom: 40px;
	}
}

.more-content {
	color: $neutral-3;
	max-height: 600px;
	opacity: 1;
	overflow: hidden;
	transition: all 300ms ease-in;
}

.content {
	margin: auto;
	max-width: 680px;
	text-align: left;
}
