/* Fonts */
$font-stack1:					'Pacifico', Impact, Arial, Helvetica, sans-serif;
$font-stack2:					'Raleway', Tahoma, Arial, Helvetica, sans-serif;
$font-stack3:					'Raleway-Light', Tahoma, Arial, Helvetica, sans-serif;

/* Colours */
$accent-1:						#FF1654;
$accent-2:						#F3FFBD;
$accent-3:						#B2DBBF;
$accent-4:						#70C1B3;
$accent-5:						#247BA0;
$accent-6:						#E7F2B3;

$neutral-1:						#fff;
$neutral-2:						#000;
$neutral-3:						#444;
$neutral-4:						#FFFFDD;

/* Breakpoints */
$breakpoint-1:					768px;
$breakpoint-2:					1004px;
