<div class="content">
	<h2>About me</h2>

	<p>I really enjoy coding and I mean all coding. Of course I love a greenfield project with modern <strong>browser support</strong> but I simply <strong>love to code</strong> whether it's helping to finish off projects, <strong>bug fixing</strong>, code reviewing, <strong>html emails</strong> and everything else that comes with being a Frontend Developer.<p>

	<p>Here's the <a href="https://github.com/markcarrrr/markcarrrr.github.io">repo for my portfolio site</a> so you can see exactly how I can code too. <strong>Live examples</strong> are great and you can find them below in my <a href="#case-studies">case studies</a> but we all know code's often colaborative and changes over time and it's going to be <strong>minified!</strong></p>
</div>

<blockquote>{{content.quote}}</blockquote>
