<!doctype html>
<html ng-app="mcApp">
	<head>
		<meta charset="utf-8">
		<title>{{root.page.title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--build:css css/styles.css-->
		<link rel="stylesheet" href="css/styles.css">
		<!--endbuild-->
	</head>
	<body>

		<div class="container">
			<nav class="main-menu" ng-cloak ng-controller="navigation">
				<ul class="menu-items" ng-show="toggle">
					<li ng-repeat="item in listItems track by item.link" ng-class="{current: $index == currentIndex}"><a href="{{item.link}}" ng-click="toggleNav($index)" ng-bind-html="item.text"></a></li>
				</ul>
				<button type="button" class="icon-menu" ng-click="toggleNav()"><span class="is-accessible">Toggle Menu</span></button>
				<span class="overlay-background" ng-click="toggle = false"></span>
			</nav>

			<header ng-controller="header">
				<h1>Hi, I'm {{name}} <span>a frontend developer</span></h1>
				<figure class="avatar">
					<img src="images/avatar-2.jpg" srcset="images/avatar-1.jpg 180w, images/avatar-2.jpg 300w" sizes="(min-width: 1004px) 300px, 180px" alt="">
				</figure>
			</header>

			<div class="content-wrapper {{page.contentClass}}" ng-view></div>

			<footer>
				<ul>
					<li class="icon icon-github"><a href="https://github.com/markcarrrr"><span class="is-accessible">My Github</span><svg><use xlink:href="images/sprite.svg#icon-github"></use></svg></a></li>
					<li class="icon icon-codepen"><a href="https://codepen.io/markcarrrr/"><span class="is-accessible">My Codepen</span><svg><use xlink:href="images/sprite.svg#icon-codepen"></use></svg></a></li>
					<li class="icon icon-twitter"><a href="https://twitter.com/markcarrrr"><span class="is-accessible">My Twitter</span><svg><use xlink:href="images/sprite.svg#icon-twitter"></use></svg></a></li>
					<li class="icon icon-linkedin"><a href="https://www.linkedin.com/in/markcarrrr"><span class="is-accessible">My LinkedIn</span><svg><use xlink:href="images/sprite.svg#icon-linkedin"></use></svg></a></li>
				</ul>
			</footer>

		</div>

	<!--build:js js/main.js-->
	<!-- Angular -->
	<script src="/bower_components/angular/angular.js"></script>
	<!-- Route -->
	<script src="/bower_components/angularjs/src/shallowCopy.js"></script>
	<script src="/bower_components/angularjs/src/ngRoute/route.js"></script>
	<script src="/bower_components/angularjs/src/ngRoute/routeParams.js"></script>
	<script src="/bower_components/angularjs/src/ngRoute/directive/ngView.js"></script>
	<!-- Sanitize -->
	<script src="/bower_components/angularjs/src/ngsanitize/sanitize.js"></script>
	<script src="/bower_components/angularjs/src/ngsanitize/filter/linky.js"></script>
	<!-- Animate -->
	<script src="/bower_components/angularjs/src/ngAnimate/shared.js"></script>
	<script src="/bower_components/angularjs/src/ngAnimate/rafScheduler.js"></script>
	<script src="/bower_components/angularjs/src/ngAnimate/animateChildrenDirective.js"></script>
	<script src="/bower_components/angularjs/src/ngAnimate/animateCss.js"></script>
	<script src="/bower_components/angularjs/src/ngAnimate/animateCssDriver.js"></script>
	<script src="/bower_components/angularjs/src/ngAnimate/animateJs.js"></script>
	<script src="/bower_components/angularjs/src/ngAnimate/animateJsDriver.js"></script>
	<script src="/bower_components/angularjs/src/ngAnimate/animateQueue.js"></script>
	<script src="/bower_components/angularjs/src/ngAnimate/animation.js"></script>
	<script src="/bower_components/angularjs/src/ngAnimate/ngAnimateSwap.js"></script>
	<script src="/bower_components/angularjs/src/ngAnimate/module.js"></script>

	<!-- Polyfills -->
	<script src="/bower_components/svg4everybody/dist/svg4everybody.js"></script>
	<!-- Bespoke -->
	<script src="js/setter.js"></script>
	<script src="js/config/routing.js"></script>
	<script src="views/view1/controller.js"></script>
	<script src="views/view2/controller.js"></script>
	<script src="js/controllers/navigation.js"></script>
	<script src="js/controllers/header.js"></script>
	<!--endbuild-->
	</body>
</html>
